@import '../../assets/styles/base/typography';
@import '../../assets/styles/utils/colors';

.about {
  background-image: url(../../assets/images/sakura.png);
  background-color: $alice-blue;
  background-attachment: fixed;
  background-repeat: no-repeat;

  .project {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;

    h1 {
      cursor: default;
      font-family: $dancing-script;
      margin-bottom: 1em;
      pointer-events: none;
    }

    p {
      cursor: default;
      text-align: justify;
      text-indent: 2em;

      &::first-letter {
        font-family: $dancing-script;
        font-size: 200%;
        line-height: 0em;
      }

      a {
        transition: all 200ms;
        text-decoration: none;

        &:hover {
          text-decoration: none;
          color: $amaranth;
        }
      }
    }

    & > a {
      background-color: $amaranth;
      color: $alice-blue;
  
      &:hover {
        background-color: $alice-blue;
        color: $amaranth;
      }
    }
  }

  .dedication {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
      cursor: default;
      font-family: $dancing-script;
      font-weight: normal;
      transition: 750ms;
      text-align: center;
    }
  }
}
