.about-page {
  background-color: rgb(240, 248, 255);
}

.about-page > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 600px;
}

.about-page > .container > h1 {
  cursor: default;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 1em;
  pointer-events: none;
  position: relative;
}

.about-page > .container > p {
  cursor: default;
  position: relative;
  text-align: justify;
  text-indent: 2em;
}

.about-page > .container > p::first-letter {
  font-family: 'Dancing Script', cursive;
  font-size: 200%;
  line-height: 0em;
}

.about-page > .container > a > button {
  background-color: rgb(237, 54, 85);
  color: rgb(240, 248, 255);
  position: relative;
}

.about-page > .container > a > button:hover {
  background-color: rgb(240, 248, 255);
  color: rgb(237, 54, 85);
}

.about-page > .container > a > button:active,
.about-page > .container > a > button:focus {
  box-shadow: 0 0 0 0.2rem rgba(237, 54, 85, 0.5);
}

.about-page > .container > h3 {
  cursor: default;
  font-family: 'Dancing Script', cursive;
  opacity: 0.1;
  transition: 750ms;
  text-align: center;
}
