.filter-component {
  background-color: rgb(255, 166, 143);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
}

.filter-component > .container > .row > div > label {
  color: rgb(17, 17, 17);
  font-family: 'Dancing Script', cursive;
  font-size: 1.75rem;
  margin-bottom: 0em;
}

.filter-component > .container > .row > div > select {
  appearance: none;
  background-color: rgb(255, 249, 200);
  border-radius: .25rem;
  border-color: rgb(255, 249, 200);
  border-width: 0.2rem;
  box-shadow: initial;
  color: rgb(237, 54, 85);
  cursor: pointer;
  width: 100%;
  transition: all 500ms;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
}

.filter-component > .container > .row > div > select:hover {
  border-color: rgba(237, 54, 85, 0.5);
}

.filter-component > .container > .row > div > select:focus {
  outline: 0 none;
}

.filter-component > .container > .row > div > .input-group > .input-group-prepend {
  background-color: rgb(255, 249, 200);
  border-radius: 0;
  border-color: rgb(255, 249, 200);
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  color: rgb(237, 54, 85);
  font-size: 1.15rem;
  padding: 9px;
}

.filter-component > .container > .row > div > .input-group > input {
  background-color: rgb(255, 249, 200);
  border-color: rgb(255, 249, 200);
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  border-width: 0.2rem;
  box-shadow: initial;
  color: rgb(237, 54, 85);
  height: calc(2.25rem + 2px);
  transition: all 500ms;
}

.filter-component > .container > .row > div > .input-group > input:hover {
  background-color: rgb(255, 249, 200);
  border-color: rgba(237, 54, 85, 0.5);
  box-shadow: initial;
}
