#book-details-container {
  background-color: #FFF9C8;
  height: 100%;
  padding: 2em;
  margin-top: 4em;
  margin-bottom: 3em;
}

.book-details-col {
  z-index: 1;
}

#book-details-container h3 {
  margin-top: 0.2em;
  margin-bottom: 0;
}

#book-details-container p {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: justify;
  text-indent: 2em;
}

#book-details-container img {
  background-color: #FFF;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
}

#book-details-container .btn {
  background-color: #FFF9C8;
  border: solid 1px #FFF9C8;
  border-radius: 0;
  color: #FF4867;
  font-size: 1.5rem;
  height: 3em;
  transition: 0.5s;
}

#book-details-container .btn:hover {
  border: solid 1px #FF4867;
  background-color: #FFF9C8;
  color: #FF4867;
}