.button {
  text-decoration: none;
  padding: 4px 8px;
  transition: 250ms;
  background-color: var(--amaranth);
  color: var(--alice-blue);
  cursor: pointer;
  font-size: var(--font-medium);
  border: none;
  line-height: 1.6;
  display: inline-block;
}

.button:hover {
  background-color: transparent;
  color: var(--amaranth);
}
