.btn-author:first-of-type {
  margin-left: 0em;
}

.btn-author {
  background-color: #FFF9C8;
  border: solid 1px #FFF9C8;
  border-radius: 0;
  color: #FF4867;
  font-size: 1.5rem;
  height: 3em;
  transition: 0.5s;
  margin-left: 1em;
}

.btn-author:hover {
  border: solid 1px #FF4867;
  background-color: #FFF9C8;
  color: #FF4867;
}