.bookListItem {
  background-color: var(--lemon-chiffon);
  padding: 12px;
  margin-bottom: 12px;
  transition: all 250ms;
}

.bookListItem a {
  display: block;
  line-height: 0;
}

.bookListItem a img {
  transition: 250ms;
}

.bookListItem a img:hover {
  transform: scale(102%);
  box-shadow: 0 0 8px 2px var(--stiletto);
}
