@import "../../assets/styles/base/typography";
@import "../../assets/styles/utils/colors";

.filter {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 767.98px) {
    flex-wrap: wrap;
  }

  .inputGroup {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    width: 100%;

    label {
      color: $stiletto;
      font-size: 1.75rem;
      font-family: $dancing-script;
    }
  
    select {
      background-color: $lemon-chiffon;
      border-radius: 0.25rem;
      border: 2px solid $lemon-chiffon;
      color: $amaranth;
      cursor: pointer;
      transition: all 250ms;
      height: calc(2.25rem + 2px);
      padding: 0 0.75rem;
      font-size: 1rem;
      font-family: $open-sans;
      
      &:hover {
        border-color: $amaranth;
      }
    }

    input {
      height: calc(2.25rem + 2px);
      background-color: $lemon-chiffon;
      border-radius: 0.25rem;
      border: 2px solid $lemon-chiffon;
      color: $amaranth;
      padding: 0 0.75rem;
      transition: all 250ms;

      &:hover {
        border-color: $amaranth;
      }
    }
  }
}
