@import '../../assets/styles/utils/colors';

.home {
  background-image: url(../../assets/images/sakura.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: $screaming-green;

  .title {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1;

    h1 {
      cursor: default;
      font-family: 'Dancing Script', cursive;
      font-size: 4rem;
      margin-top: 0px;
      pointer-events: none;
      text-shadow: 1px 1px 2px rgb(121, 119, 120);
    }

    img {
      pointer-events: none;
    }
  }

  .books {
    background: inherit;
    background-color: $mona-lisa;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 4em;
    min-height: calc(100vh);
    padding-bottom: 100px;
  }
}
