#img-sakura {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  height: 100vh;
  z-index: 1;
}

#results-layout {
  background-color: #FFA68F;
  min-height: 100vh;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  
	-webkit-box-align: top;
	-ms-flex-align: top;
	-webkit-align-items: top;
	align-items: top;
}

#filter-layout,
#search-results-layout {
  z-index: 1;
}

@media (max-width: 767px) {
  #results-layout {
    padding-top: 1em;
    padding-bottom: 1em;
    min-height: 100%;
  }

  #img-sakura {
    opacity: 0.2;
  }
}
