.footer {
  min-height: 75px;
  background-color: var(--white-alpha-1);
  backdrop-filter: blur(10px);
  color: var(--stiletto);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
