.sakura {
  height: 100vh;
  pointer-events: none;
  position: fixed !important;
  top: 0;
  left: 0;
  transition: all 1000ms;
}

@media only screen and (max-width: 767px) { 
  .sakura {
    opacity: 0.2;
  }
}
