body {
  background-color: #79F768;
  font-family: 'Open Sans';
  font-size: 16px;
}

.btn {
  background-color: #FFF9C8;
  border: solid 1px #FFF9C8 !important;
  border-radius: 0;
  color: #FF4867;
  font-size: 1.5rem;
  height: 3em;
  min-width: 3em;
}

.btn:hover,
.btn:focus,
.btn.active {
  border: solid 1px #FF4867 !important;
  background-color: #FFF9C8 !important;
  color: #FF4867 !important;
}

input {
  border-radius: 0 !important;
  border: none !important;
  font-size: 16px !important;
  height: 3em !important;
  width: 218px !important;
}

input:focus {
  box-shadow: initial !important;
}

.input-group-addon {
  background-color: #FFF9C8;
  border-radius: 0;
  border: none;
  color: #FF4867;
  font-size: 1.5rem;
  height: 3em;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(http://i62.tinypic.com/15xvbd5.png) 96% / 15% no-repeat #FFF9C8 !important;
  border-radius: 0 !important;
  border: none !important;
  color: #FF4867 !important;
  font-weight: bold;
  font-size: 16px !important;
  height: 3em !important;
  padding-right: 3.5em !important;
}

select:focus {
  box-shadow: initial !important;
}
