@import '../../assets/styles/base/typography';
@import '../../assets/styles/utils/colors';

.notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $black;
  color: $alice-blue;

  .content {
    text-align: center;
    position: relative;
    z-index: 1;

    p {
      margin-bottom: 2em;

      span {
        font-family: $dancing-script;
        font-weight: normal;
        font-size: 1.5rem;
      }
    }
  
    a {
      background-color: $amaranth;
      color: $alice-blue;
      display: inline-block;
      transition: 0.2s;
  
      &:hover {
        background-color: $black;
        color: $amaranth;
      }
    }
  }
}
