.title-component {
  background-color: rgb(121, 247, 104);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title-component > a {
  color: rgb(0, 64, 0);
  font-family: 'Dancing Script', cursive;
  font-size: 1.75rem;
  text-decoration: none;
  position: absolute;
  top: 25px;
  right: 50px;
  transition: 250ms;
}

.title-component > a:hover {
  color: rgb(237, 54, 85);
  text-decoration: none;
}

.title-component > h1 {
  color: rgb(0, 64, 0);
  cursor: default;
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  margin-top: 0px;
  pointer-events: none;
  text-shadow: 1px 1px 2px rgb(121, 119, 120);
  position: relative;
}

.title-component > img {
  pointer-events: none;
  position: relative;
}
