.not-found-page {
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 100vh;
  background-color: rgb(17, 17, 17);
  min-height: 100vh;
}

.not-found-page > .container {
  color: rgb(238, 238, 238);
  text-align: center;
  position: relative;
}

.not-found-page > .container > h3 {
  font-family: 'Dancing Script', cursive;
  margin-bottom: 1em;
}

.not-found-page > .container > a > button {
  background-color: rgb(237, 54, 85) !important;
  border: none !important;
  box-shadow: initial !important;
  color: rgb(255, 249, 200) !important;
  transition: 0.2s;
}

.not-found-page > .container > a > button:hover {
  background-color: rgb(17, 17, 17) !important;
  color: rgb(237, 54, 85) !important;
}
